@-moz-document domain("youtube.com") {
  /* Fondo principal transparente */
  ytd-page-manager > *.ytd-page-manager, ytd-watch, body {
    background-color: rgba(6, 8, 15, 0.1) !important;
  }

  html {
    background: none !important;
  }

  html[dark], [dark] {
    --yt-spec-text-primary-inverse: transparent !important;
    --yt-spec-base-background: transparent !important;
    --yt-spec-static-black: transparent !important;
    --yt-spec-general-background-b: transparent !important;
  }

  html[dark] {
    background-color: rgba(6, 8, 15, 0.6) !important;
  }

  /* Blur y fondo semitransparente en contenedores */
  #container, #chips-wrapper {
  backdrop-filter: blur(64px);
  background: rgba(6, 8, 15, 0.6) !important;
  }

  /* Canvas molestos de cinematics */
  #cinematics canvas {
  background: transparent !important;
  opacity: 0.0 !important;
  pointer-events: none !important;
  }
}

@-moz-document domain("kick.com") {
  /* Fondo principal transparente */
  body, html, .bg-surface-lower {
    background-color: rgba(6, 8, 15, 0.3) !important;
  }

  html {
    background: none !important;
  }

  html {
    --tw-bg-opacity: 0 !important;
    background-color: rgba(6, 8, 15, 0.3) !important;
  }

  /* Blur y fondo semitransparente en contenedores */
  .bg-surface-lower {
    background: rgba(6, 8, 15, 0.3) !important;
  }

  .bg-green-500 {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(80, 0, 255) !important;
  }

  .gap-2\.5 {
    gap: .625rem !important;
    opacity: 0 !important;
  }

  .border-green-500 {
    --tw-border-opacity: 1;
    border-color: rgb(255, 33, 33) !important;
  }

  .text-primary {
    --tw-text-opacity: 1;
    color: rgb(253, 6, 203) !important;
  }

  @media (min-width: 1024px) {
    .lg\:size-16 {
      width: 4rem;
      height: 4rem;
      opacity: 0 !important;
    }
  }

  /* Canvas molestos de cinematics */
  canvas {
    background: transparent !important;
    opacity: 0.0 !important;
    pointer-events: none !important;
  }
}
